<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Check-list
      <button mat-raised-button (click)="logout()" style="width:7%;float: right;">
        <ion-icon class="big" slot="start" [src]="logoutIcon"></ion-icon>
        <!-- <ion-label>Logout</ion-label> 
      </button>
    </ion-title>

  </ion-toolbar>

</!--<ion-header>
<ion-content class="ion-padding" style="height: 10000%;">

  <ion-grid>
    <ion-row>
      <mat-card *ngFor="let item of engins" class="card col-md">
        <a button [routerLink]="['/checklist', item.nomEngin]">
          <img *ngIf="item.nomEngin == 'Benne' || item.nomEngin == 'Citerne' || item.nomEngin == 'Plateau'"
            [src]="createImagePath(item.imageEngin)" class="img-fluid" />
        </a>
      </mat-card>
    </ion-row>
  </ion-grid>
  <div class="row justify-content-center mt-2" style="background-color: #68d2ee66;">
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker1" placeholder="Du" name="dateEntree" [formControl]="dateEntree"
        (ngModelChange)="onChange(dateEntree, 'dateEntree')">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="ml-2">
      <input matInput [matDatepicker]="picker2" placeholder="Au" name="dateSortie" [formControl]="dateSortie"
        (ngModelChange)="onChange(dateSortie, 'dateSortie')">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button class="ml-2" (click)="filtrer()" mat-button>
      <fa-icon [icon]="faFilter"></fa-icon>
    </button>
    <button class="ml-2 btn btn-link" (click)="refresh()" mat-button>
      <fa-icon [icon]="faSyncAlt"></fa-icon>
    </button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="conducteur">
              <th mat-header-cell *matHeaderCellDef> Conducteur </th>
              <td mat-cell *matCellDef="let element"> {{element.nomComplet}} </td>
            </ng-container>

            <ng-container matColumnDef="vehicule">
              <th mat-header-cell *matHeaderCellDef> Vehicule </th>
              <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
            </ng-container>

            <ng-container matColumnDef="engin">
              <th mat-header-cell *matHeaderCellDef> Engin </th>
              <td mat-cell *matCellDef="let element"> {{element.nomEngin}} </td>
            </ng-container>

            <ng-container matColumnDef="etat">
              <th mat-header-cell *matHeaderCellDef> Etat </th>
              <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef> Rating </th>
              <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
            </ng-container> 

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <ion-button (click)="showDetails(element)">Détails</ion-button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
          </mat-paginator>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
-->


<ion-content class="ion-padding">
  <div class="container">
    <div class="row" style="margin-left: 13%; margin-top:5%">
      <div *ngFor="let item of engins" style=" margin-right: 3%;">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img"
              *ngIf="item.nomEngin == 'Benne' || item.nomEngin == 'Citerne' || item.nomEngin == 'Plateau'"
              [src]="createImagePath(item.imageEngin)" [routerLink]="['/checklist', item.nomEngin]" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">{{item.nomEngin}}</h6>
            <a class="btn btn-primary btn-round" [routerLink]="['/checklist', item.nomEngin]"
              style="background-color: rgb(0,110,130);">Controller</a>
          </div>
        </div>
      </div>
    </div>
  </div>







  <div style="padding-left: 10%; padding-right: 10%;padding-top: 1%;">

    <br>
    <div class="row justify-content-center mt-2">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker1" placeholder="Du" name="dateEntree" [formControl]="dateEntree"
          (ngModelChange)="onChange(dateEntree, 'dateEntree')">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="ml-2">
        <input matInput [matDatepicker]="picker2" placeholder="Au" name="dateSortie" [formControl]="dateSortie"
          (ngModelChange)="onChange(dateSortie, 'dateSortie')">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button class="ml-2" (click)="filtrer()" mat-button>
        <fa-icon [icon]="faFilter"></fa-icon>
      </button>
      <button class="ml-2 btn btn-link" (click)="refresh()" mat-button>
        <fa-icon [icon]="faSyncAlt"></fa-icon>
      </button>
    </div>
    <div class="mat-elevation-z8">
      <div class="card">
        <div class="card-header card-header-primary" style="background:rgb(0,110,130); ">
          <div class="row">
            <div class="col-md-10">
              <h4 class="card-title">Historique des camions </h4>
              <p class="card-category"> Liste des vehicules :</p>
            </div>
            <div class="col-md-2 float-right">

            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="table  table-hover ">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="conducteur">
                <th mat-header-cell *matHeaderCellDef> Conducteur </th>
                <td mat-cell *matCellDef="let element"> {{element.nomComplet}} </td>
              </ng-container>

              <ng-container matColumnDef="vehicule">
                <th mat-header-cell *matHeaderCellDef> Vehicule </th>
                <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
              </ng-container>

              <ng-container matColumnDef="engin">
                <th mat-header-cell *matHeaderCellDef> Engin </th>
                <td mat-cell *matCellDef="let element"> {{element.nomEngin}} </td>
              </ng-container>

              <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef> Etat </th>
                <td mat-cell *matCellDef="let element"> {{element.etat}} </td>
              </ng-container>

              <ng-container matColumnDef="rating">
                <th mat-header-cell *matHeaderCellDef> Rating </th>
                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <ion-button (click)="showDetails(element)">Détails</ion-button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    </div>

</ion-content>