/*img {
    width: 70%;
    height: 80%;
    margin: auto;
}

img:hover {
    cursor: pointer;
}*/

table {
    width: 90%;
    // margin-top: 2%;
    margin: auto;
  }
  .mat-cell,
  .mat-header-cell {
    text-align: center;
    // border-right: 0.5px solid rgb(78, 76, 48);
  }