<span style="float: left;margin-left: 50px;width: 63%;">
  <h6 class="row justify-content-center"> Engin العربة</h6>

  <img class="image" [src]="enginImg">
  <button mat-mini-fab id="b11" (click)="check(11)" class="button1 isNotActive"></button>
  <button mat-mini-fab id="b12" (click)="check(12)" class="button2 isNotActive"></button>
  <button mat-mini-fab id="b13" (click)="check(13)" class="button3 isNotActive"></button>
  <button mat-mini-fab id="b14" (click)="check(14)" class="button4 isNotActive"></button>
  <button mat-mini-fab id="b15" (click)="check(15)" class="button5 isNotActive"></button>
  <button mat-mini-fab id="b16" (click)="check(16)" class="button6 isNotActive"></button>
  <button mat-mini-fab id="b17" (click)="check(17)" class="button7 isNotActive"></button>
  <button mat-mini-fab id="b18" (click)="check(18)" class="button8 isNotActive"></button>
  <button mat-mini-fab id="b19" (click)="check(19)" class="button9 isNotActive"></button>
  <button mat-mini-fab id="b20" (click)="check(20)" class="button10 isNotActive"></button>
  <button mat-mini-fab id="b21" (click)="check(21)" class="button11 isNotActive"></button>
  <button mat-mini-fab id="b22" (click)="check(22)" class="button12 isNotActive"></button>
</span>