.button1 {
		
    // position: absolute;
    right: 87px;
    top: -58px;
    width: 15px;
    height: 15px;
    
    }
.button2 {
          
    // position: absolute;
    right: 207px;
    top: -15px;
    width: 10px;
    height: 10px;
    
}
    
.button3 {
          
    // position: absolute;
    // left: 0px;
    top: -5px;
    right: 217px;
    width: 10px;
    height: 10px;
    }
.button4 {
          
    // position: absolute;
    top: 6px;
    right: 226px;
    width: 10px;
    height: 10px;
}
    
.button5 {
          
    // position: absolute;
    top: -27px;
    right: 470px;
    width: 10px;
    height: 10px;
}
.button6 {
    // position: absolute;
    top: -7px;
    right: 480px;
    width: 10px;
    height: 10px;
}
.button7 {        
    // position: absolute;
    top: 3px;
    right: 495px;
    width: 10px;
    height: 10px;
}
.button8 {         
    // position: absolute;
    // left: 0px;
    top: 72px;
    right: 492px;
    width: 10px;
    height: 10px;
}
.button9 {         
    // position: absolute;
    // left: 0px;
    top: 83px;
    right: 502px;
    width: 10px;
    height: 10px;
}
.button10 {          
    // position: absolute;
    // left: 0px;
    top: 81px;
    right: 316px;
    width: 10px;
    height: 10px;
}
.button11 {         
    // position: absolute;
    // left: 0px;
    top: 104px;
    right: 325px;
    width: 10px;
    height: 10px;
}
.button12 {         
    // position: absolute;
    // left: 0px;
    top: 121px;
    right: 245px;
    width: 10px;
    height: 10px;
}
.image {
    // position: absolute;
    // left: 620px;
    height: 230px;
    // width: 50%;
    // justify-content: center;
}
    
    
    