.button1 {
  // position: absolute;
  right: 87px;
  top: -58px;
  width: 15px;
  height: 15px;
}
.button2 {
  // position: absolute;
  right: 207px;
  top: -20px;
  width: 15px;
  height: 15px;
}

.button3 {
  // position: absolute;
  // left: 0px;
  top: -5px;
  right: 222px;
  width: 15px;
  height: 15px;
}
.button4 {
  // position: absolute;
  top: 9px;
  right: 238px;
  width: 15px;
  height: 15px;
}

.button5 {
  // position: absolute;
  top: -30px;
  right: 484px;
  width: 15px;
  height: 15px;
}
.button6 {
  // position: absolute;
  top: -10px;
  right: 498px;
  width: 15px;
  height: 15px;
}
.button7 {
  // position: absolute;
  top: 3px;
  right: 523px;
  width: 15px;
  height: 15px;
}
.button8 {
  // position: absolute;
  left: 72px;
  top: -68px;
  // right: 523px;
  width: 15px;
  height: 15px;
}
.button9 {
  // position: absolute;
  left: 58px;
  top: -53px;
  // right: 537px;
  width: 15px;
  height: 15px;
}
.button10 {
  // position: absolute;
  left: 240px;
  top: -54px;
  // right: 356px;
  width: 10px;
  height: 10px;
}
.button11 {
  // position: absolute;
  left: 231px;
  top: -30px;
  // right: 365px;
  width: 10px;
  height: 10px;
}
.button12 {
  // position: absolute;
  left: 310px;
  top: -12px;
  // right: 287px;
  width: 10px;
  height: 10px;
}
.image {
  // position: absolute;
  // left: 620px;
  height: 230px;
  // width: 50%;
  // justify-content: center;
}

.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
