<ion-content>
  <div class="mdl-toolbar">
    <div class="logo">
      <ion-title class="ion-padding">
        QR Code Générateur
        <img [src]="lhmIcon" style="width: 50px;" class="float-right" alt="lhm" />
      </ion-title>
    </div>
  </div>
  <div class="pl-5 pr-5 pt-5">
    <div class="col-md-14">
      <div class="card">
        <div class="card-header card-header-info" style="background: rgb(0, 110, 130);">
          <h4 class="card-title">QR Code Générateur</h4>
          <p class="card-category">Générer QR Code</p>
        </div>
        <div class="card-body">
          <form [formGroup]="matriculeForm">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <mat-form-field class="readonly-wrapper" class="w-100">
                    <mat-label>Choisir un Véhicule</mat-label>
                    <mat-select class="readonly-block" formControlName="matricule">
                      <mat-option *ngFor="let item of vehicules" [value]="item.id" (click)="test(item.matricule)">
                        {{item.matricule}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <button printSectionId="print-section" ngxPrint mat-button class="btn btn-info"
                  style="background: rgb(0, 110, 130);"
                  [printStyle]="{img: {'width': '50%', 'margin-left': 'auto', 'margin-right': 'auto', 'margin-top': '30%', 'display': 'block'},
                   span: {'margin-left': '40%'}}">
                  Imprimer
                </button>
              </div>
              <div class="col-md-4">
                <div class="aclass" id="print-section">
                  <ngx-qrcode [qrc-value]="qrData" [qrc-element-type]="elementType" qrc-class="qrcode"
                    qrc-errorCorrectionLevel="L">
                  </ngx-qrcode>
                  <div class="form-row justify-content-center">
                    <span>Matricule: {{qrData}}</span>
                  </div>
                </div>
              </div>
            </div>

            <!-- <button mat-button class="float-left" (click)="navigateTo()">Annuler</button>
            <div mat-dialog-actions class="form-row justify-content-end mb-2">
              <button type="submit" mat-button class="btn btn-info"
                style="background: rgb(0, 110, 130);">Ajouter</button>
            </div> -->
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</ion-content>