<!-- <div class="ion-page" main>
  <ion-menu side="start" contentId="main" menuId="first">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>I-Check</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button [routerLink]="[{ outlets: { admin: ['conducteur'] } }]">

          <ion-icon class="big" slot="start" [src]="conducteurIcon"></ion-icon>
          <ion-label>Conducteur</ion-label>
        </ion-item>
        <ion-item button [routerLink]="[{ outlets: { admin: ['engin'] } }]">
          <ion-icon class="big" slot="start" [src]="enginIcon"></ion-icon>
          <ion-label>Engin</ion-label>
        </ion-item>
        <ion-item button [routerLink]="[{ outlets: { admin: ['synthese'] } }]">

          <ion-icon class="big" slot="start" [src]="syntheseIcon"></ion-icon>
          <ion-label>Syntheses de controls</ion-label>
        </ion-item>

        <ion-item button (click)="logout()">
          <ion-icon class="big" slot="start" [src]="logoutIcon"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div style="height: 88vh;">
    <ion-router-outlet id="main" name="admin" main></ion-router-outlet>
  </div>


  <ion-header>
    <ion-toolbar class="menu-class">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>I-Check</ion-title>
    </ion-toolbar>
  </ion-header>
</div> -->

<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu side="start" contentId="menu-content" menuId="first">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>I-Check</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- <ion-list lines="none">
        <ion-item button [routerLink]="[{ outlets: { admin: ['dashboard'] } }]">
          <ion-icon class="big" slot="start" [src]="dashboardIcon"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>

        <ion-item button [routerLink]="[{ outlets: { admin: ['stats'] } }]">
          <ion-icon class="big" slot="start" [src]="statsIcon"></ion-icon>
          <ion-label>Statistiques</ion-label>
        </ion-item>

        <ion-item button [routerLink]="[{ outlets: { admin: ['conducteur'] } }]">
          <ion-icon class="big" slot="start" [src]="conducteurIcon"></ion-icon>
          <ion-label>Conducteur</ion-label>
        </ion-item>

        <ion-item button [routerLink]="[{ outlets: { admin: ['synthese'] } }]">

          <ion-icon class="big" slot="start" [src]="syntheseIcon"></ion-icon>
          <ion-label>Syntheses des controles</ion-label>
        </ion-item>

        <ion-item button (click)="logout()">
          <ion-icon class="big" slot="start" [src]="logoutIcon"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list> -->

      <div *ngFor="let p of pages">
        <ion-menu-toggle *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button *ngIf="p.url; else childrenItem" [routerLink]="[{ outlets: { admin: [p.url] } }]"
          (click)="p.open = !p.open"
          [class.active-parent]="p.open" detail="false">
          <ion-icon class="big" [src]="p.icon" slot="start"></ion-icon>
          <ion-icon slot="end" name="arrow-dropright" *ngIf="p.children?.length > 0 && !p.open" ></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="p.children?.length > 0 && p.open"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>

        <ion-list *ngIf="p.open">
          <!-- <ion-menu-toggle> -->
            <ion-item button class="sub-item"
              *ngFor="let sub of p.children" 
              (click)="navigateTo(sub.url)"
              routerDirection="root" 
              routerLinkActive="active">
              <ion-label>{{ sub.title }}</ion-label>
            </ion-item>
          <!-- </ion-menu-toggle> -->
        </ion-list>

        <ng-template #childrenItem>
            <ion-item button
            (click)="p.open = !p.open"
            [class.active-parent]="p.open" detail="false">
            <ion-icon class="big" [src]="p.icon" slot="start"></ion-icon>
            <ion-icon slot="end" name="arrow-dropright" *ngIf="p.children?.length > 0 && !p.open" ></ion-icon>
            <ion-icon slot="end" name="arrow-dropdown" *ngIf="p.open"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ng-template>
        
      </div>
    </ion-content>
  </ion-menu>

  <!-- <ion-nav #menu-content main></ion-nav> -->
  <!-- the main content -->
  <ion-router-outlet id="menu-content" name="admin"></ion-router-outlet>
</ion-split-pane>