<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-content>
  <div class="mdl-toolbar">
    <div class="logo">
      <ion-title class="ion-padding">
        Tableau De Bord
      </ion-title>
    </div>
  </div>

  <ion-grid style="margin: 1%;">
    <ion-row>
      <!-- <ion-title>
        <ion-icon style="zoom:6.0;" [src]="truck"></ion-icon>
      </ion-title> -->
      <ion-col size="12" class="row justify-content-center" style="padding: 1%;">
        <ion-title>
          <span style="font-size: 17px; padding: 1%;font-weight: 400;
          color: #3c4858; " class="mr-2">Nombre totals des camions Controlés :</span>

          <span class="badge badge-info" style="background-color: rgb(0,110,130);">{{Controled}}</span></ion-title>

      </ion-col>



      <ion-col size="4">
        <ion-card style="padding: 5%;" class="shadow p-3 mb-5 bg-white rounded">
          <ion-card-header>
            <div class="row justify-content-end">
              <button type="button" class="btn btn-info btn-sm"
                style="background: rgb(0,110,130);border-radius: 28px;margin-right: 24%;">
                Plateau <span class="badge badge-danger" style="margin-left: 7%;
                font-size: larger;">{{countplateausBlock}}</span>
                <span class="badge badge-success" style="margin-left: 8%;
                font-size: larger;">{{countplateausNotBlock}}</span>
              </button>
              <img class="col-sm-4" [src]="plateauIcon">
            </div>
            <hr class="section-break-5" />
            <ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-row *ngFor="let plateau of plateaus |  slice:0:4" style="width:250%">
                      <ion-col size="2">
                        <span class="badge badge-info"
                          style="width: 40px;background-color: rgb(0,110,130);">{{plateau.label | uppercase | slice:0:3}}</span>
                      </ion-col>
                      <ion-col size="3">
                        <span class="badge badge-danger "
                          style="width: 40px;margin: 1%;">{{plateau.blockedCount ? plateau.blockedCount : 0}}</span>
                        <span class="badge badge-success"
                          style="width: 40px;">{{plateau.notBlockedCount ? plateau.notBlockedCount : 0}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col>
                    <ion-row *ngFor="let plateau of plateaus |  slice:4:100" style="width:250%">
                      <ion-col size="2">
                        <span class="badge badge-info"
                          style="width: 40px;background-color: rgb(0,110,130);">{{plateau.label | uppercase | slice:0:3}}</span>
                      </ion-col>
                      <ion-col size="3">
                        <span class="badge badge-danger "
                          style="width: 40px;margin: 1%;">{{plateau.blockedCount ? plateau.blockedCount : 0}}</span>
                        <span class="badge badge-success"
                          style="width: 40px;">{{plateau.notBlockedCount ? plateau.notBlockedCount : 0}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card style="padding: 5%;" class="shadow p-3 mb-5 bg-white rounded">
          <ion-card-header>
            <div class="row justify-content-end">

              <button type="button" class="btn btn-info btn-sm"
                style="background: rgb(0,110,130);border-radius: 28px;margin-right: 24%;">
                Benne <span class="badge badge-danger" style=" margin-left: 7%;
                font-size: larger">{{countbenneBlock}}</span>
                <span class="badge badge-success" style="margin-left: 8%;
                font-size: larger;">{{countbenneNotBlock}}</span>
              </button>
              <img class="col-sm-4" [src]="benneIcon">
            </div>
            <ion-card-title>
              <hr class="section-break-5" />
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-row *ngFor="let benne of bennes |  slice:0:4" style="width:250%">
                      <ion-col size="2">
                        <span class="badge badge-info "
                          style="width: 40px;background-color: rgb(0,110,130); ">{{benne.label | uppercase | slice:0:3}}</span>
                      </ion-col>
                      <ion-col size="3">
                        <span class="badge badge-danger "
                          style="width: 40px;margin: 1%;">{{benne.blockedCount ? benne.blockedCount : 0}}</span>
                        <span class="badge badge-success "
                          style="width: 40px;">{{benne.notBlockedCount ? benne.notBlockedCount : 0}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col>

                    <ion-row *ngFor="let benne of bennes |  slice:4:100" style="width:250%">
                      <ion-col size="2">
                        <span class="badge badge-info "
                          style="width: 40px;background-color: rgb(0,110,130); ">{{benne.label | uppercase | slice:0:3}}</span>
                      </ion-col>
                      <ion-col size="3">
                        <span class="badge badge-danger "
                          style="width: 40px;margin: 1%;">{{benne.blockedCount ? benne.blockedCount : 0}}</span>
                        <span class="badge badge-success "
                          style="width: 40px;">{{benne.notBlockedCount ? benne.notBlockedCount : 0}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card style="padding: 5%;" class="shadow p-3 mb-5 bg-white rounded">
          <ion-card-header>
            <div class="row justify-content-end">
              <button type="button" class="btn btn-info btn-sm"
                style="background: rgb(0,110,130);border-radius: 28px;margin-right: 24%;">
                Citerne <span class="badge badge-danger" style="margin-left: 7%;
                font-size: larger;">{{countciternesBlock}}</span>
                <span class="badge badge-success" style="margin-left: 8%;
                font-size: larger;">{{countciternesNotBlock}}</span>
                <span class="sr-only">unread messages</span>
              </button>
              <img class="col-sm-4" [src]="citerneIcon">
            </div>
            <hr class="section-break-5" />
            <ion-card-title>
              <ion-grid>
                <ion-col>
                  <ion-row>
                    <ion-col>
                      <ion-row *ngFor="let citerne of citernes  |  slice:0:4" style="width:250%">
                        <ion-col size="2">
                          <span class="badge badge-info"
                            style="width: 40px;background-color: rgb(0,110,130); ">{{citerne.label | uppercase | slice:0:3}}</span>
                        </ion-col>
                        <ion-col size="3">
                          <span class="badge badge-danger"
                            style="width: 40px;margin: 1%;">{{citerne.blockedCount ? citerne.blockedCount : 0}}</span>
                          <span class="badge badge-success"
                            style="width: 40px;">{{citerne.notBlockedCount ? citerne.notBlockedCount : 0}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col>
                      <ion-row *ngFor="let citerne of citernes  |  slice:4:100" style="width:250%">
                        <ion-col size="2">
                          <span class="badge badge-info"
                            style="width: 40px;background-color: rgb(0,110,130); ">{{citerne.label | uppercase | slice:0:3}}</span>
                        </ion-col>
                        <ion-col size="3">
                          <span class="badge badge-danger"
                            style="width: 40px;margin: 1%;">{{citerne.blockedCount ? citerne.blockedCount : 0}}</span>
                          <span class="badge badge-success"
                            style="width: 40px;">{{citerne.notBlockedCount ? citerne.notBlockedCount : 0}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="shadow p-3 mb-5 bg-white rounded">
          <ion-card-header>
            <ion-card-title style="margin-bottom: 8%;">
              <span style="font-size: 17px; font-weight: 400;
              color: #3c4858; " class="mr-2">Synthese Général des camions </span>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="container Chart">
              <div class="float-center">
                <canvas baseChart *ngIf="DoughnutChartData && DoughnutChartData.length > 0"
                  [datasets]="DoughnutChartData" [labels]="DoughnutChartLabels" [colors]="DoughnutChartColors"
                  [legend]="DoughnutChartLegend" [chartType]="DoughnutChartType">
                </canvas>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card style="padding: 2%;" class="shadow p-3 mb-5 bg-white rounded">
          <ion-card-header>
            <ion-card-title>
              <span style="font-size: 17px; font-weight: 400;
                color: #3c4858; " class="mr-2">Synthese mensuel des camions Non Autorisé. Mois
                {{dateStats.value | date: 'MM/yyyy'}}</span>
            </ion-card-title>


          </ion-card-header>
          <br>
          <ion-card-content>
            <div>
              <canvas baseChart *ngIf="lineChartData && lineChartData.length > 0" [datasets]="lineChartData"
                [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                [legend]="lineChartLegend" [chartType]="lineChartType">
              </canvas>
              <div *ngIf="messageLineChart">
                {{messageLineChart}}
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-card class="shadow p-3 mb-5 bg-white rounded">
      <ion-card-content>
        <legend style="font-size: 15px; font-weight: 400;
        color: #3c4858; " class="mr-2">Synthese mensuel des camions controlé. Mois
          {{dateStats.value | date: 'MM/yyyy'}}</legend>
        <div class="container Chart">
          <div class="float-center">
            <canvas baseChart *ngIf="barChartData && barChartData.length > 0" [datasets]="barChartData"
              [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>