.image2 {
  // margin-top: -120px;
  height: 280px;
}
.button1 {
  // position: absolute;
  right: 30px;
  top: 14px;
  width: 18px;
  height: 18px;
}
.button2 {
  // position: absolute;
  right: 625px;
  // top: -186px;
  width: 18px;
  height: 18px;
}

.button3 {
  // position: absolute;
  // left: 0px;
  right: 67px;
  top: 55px;
  width: 18px;
  height: 18px;
}
.button4 {
  // position: absolute;
  right: 83px;
  top: 90px;
  width: 18px;
  height: 18px;
}

.button5 {
  // position: absolute;
  top: 170px;
  right: 100px;
  width: 18px;
  height: 18px;
}
.button6 {
  // position: absolute;
  top: 230px;
  right: 697px;
  width: 18px;
  height: 18px;
}
.button7 {
  // position: absolute;
  top: 200px;
  right: 714px;
  width: 18px;
  height: 18px;
}
.button8 {
  // position: absolute;
  // left: 0px;
  top: 170px;
  right: 732px;
  width: 18px;
  height: 18px;
}
.button9 {
  // position: absolute;
  // left: 0px;
  top: -34px;
  right: 522px;
  width: 12px;
  height: 12px;
}

.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
.farge{
  height: 185px;
  width: 100%;
  opacity: 0.7;

}
