.image2{
    margin-top: -150px;
    height: 220px;
}
.button1 {
		
    // position: absolute;
    right: 137px;
    top: -150px;
    width: 12px;
    height: 12px;
    
    }
.button2 {
          
    // position: absolute;
    right: 343px;
    top: -145px;
    width: 12px;
    height: 12px;
    
}
    
.button3 {
          
    // position: absolute;
    // left: 0px;
    right: 95px;
    top: -120px;
    width: 12px;
    height: 12px;
    }
.button4 {
          
    // position: absolute;
    right: 105px;
    top: -44px;
    width: 12px;
    height: 12px;
}
    
.button5 {
          
    // position: absolute;
    top: -23px;
    right: 175px;
    width: 12px;
    height: 12px;
}
.button6 {
    // position: absolute;
    top: -22px;
    right: 254px;
    width: 12px;
    height: 12px;
}
.button7 {        
    // position: absolute;
    top: -15px;
    right: 318px;
    width: 12px;
    height: 12px;
}
.button8 {         
    // position: absolute;
    // left: 0px;
    top: -3px;
    right: 378px;
    width: 12px;
    height: 12px;
}
.button9 {         
    // position: absolute;
    // left: 0px;
    top: -34px;
    right: 522px;
    width: 12px;
    height: 12px;
}

.isActive {
    background-color: green;
  }
  
  .isNotActive {
    background-color: red;
  }
  