<div class="row justify-content-center">
    <form [formGroup]="formConducteur" class="example-form">
        <mat-form-field class="example-full-width">
  <input type="text" matInput formControlName="cin" placeholder="C.I.N Conducteur" />
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
  <input type="text" matInput formControlName="nom" placeholder="Nom Conducteur" />
</mat-form-field>&nbsp;&nbsp;
<mat-form-field class="example-full-width">
  <input type="text" matInput formControlName="matricule" placeholder="Matricule Engin" />
</mat-form-field>
    </form>
</div>
<app-check-list-engin></app-check-list-engin>
<app-check-list-conducteur></app-check-list-conducteur>
<app-check-list-equipement></app-check-list-equipement>
