.image2 {
  margin-top: -150px;
  height: 220px;
}
.button1 {
  //   position: absolute;
  right: 109px;
  top: -112px;
  width: 14px;
  height: 14px;
}
.button2 {
  //   position: absolute;
  right: 100px;
  top: -76px;
  width: 14px;
  height: 14px;
}

.button3 {
  //   position: absolute;
  right: 130px;
  top: -27px;
  width: 14px;
  height: 14px;
}
.button4 {
  //   position: absolute;
  right: 455px;
  top: -19px;
  width: 14px;
  height: 14px;
}

.button5 {
  //   position: absolute;
  right: 483px;
  top: -87px;
  width: 14px;
  height: 14px;
}

.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
