.image2 {
  margin-top: -150px;
  height: 220px;
}
.button1 {
  //   position: absolute;
  right: 109px;
  top: -112px;
  width: 12px;
  height: 12px;
}
.button2 {
  //   position: absolute;
  right: 100px;
  top: -76px;
  width: 12px;
  height: 12px;
}

.button3 {
  //   position: absolute;
  right: 127px;
  top: -27px;
  width: 12px;
  height: 12px;
}
.button4 {
  //   position: absolute;
  right: 448px;
  top: -19px;
  width: 12px;
  height: 12px;
}

.button5 {
  //   position: absolute;
  right: 475px;
  top: -85px;
  width: 12px;
  height: 12px;
}

.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
