<!-- <div class="container"> -->
<div class="row justify-content-center">
  <form [formGroup]="formConducteur" class="example-form" (ngSubmit)="onSubmit(formConducteur)">
    <mat-form-field style="text-align: left" dir="ltr" class="mr-2">
      <input type="text" matInput formControlName="cin" placeholder="C.I.N" [matAutocomplete]="cin" />
    </mat-form-field>

    <mat-autocomplete #cin="matAutocomplete" (optionSelected)="getConducteur($event)">
      <mat-option *ngFor="let conducteur of (filteredConducteurs | async)" [value]="conducteur.cin">
        {{conducteur.cin}}</mat-option>
    </mat-autocomplete>

    <mat-form-field style="text-align: left" dir="ltr" class="mr-2">
      <input type="text" matInput formControlName="nomComplet" placeholder="Nom Complet"
        [value]="formConducteur.controls['cin'].value !== '' ? nomComplet.value : ''" />
    </mat-form-field>

    <mat-form-field style="text-align: left" dir="ltr" class="mr-2">
      <input type="text" matInput formControlName="matricule" placeholder="Matricule" [matAutocomplete]="matricule" />
    </mat-form-field>

    <mat-autocomplete #matricule="matAutocomplete">
      <mat-option *ngFor="let vehicule of (filteredVehicules | async)" [value]="vehicule.matricule">
        {{vehicule.matricule}}</mat-option>
    </mat-autocomplete>
    <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating> -->
    <button mat-raised-button type="submit">Envoyer</button>
  </form>
</div>
<app-check-list-engin></app-check-list-engin>
<app-check-list-conducteur></app-check-list-conducteur>
<app-check-list-equipement></app-check-list-equipement>
<span style="float: left;margin-left: 20px;">
  <img class="image2" src="../../../../assets/images/benne.jpg">
  <button mat-mini-fab id="b23" (click)="check(23)" class="button1 isNotActive"></button>
  <button mat-mini-fab id="b24" (click)="check(24)" class="button2 isNotActive"></button>
  <button mat-mini-fab id="b25" (click)="check(25)" class="button3 isNotActive"></button>
  <button mat-mini-fab id="b26" (click)="check(26)" class="button4 isNotActive"></button>
  <button mat-mini-fab id="b27" (click)="check(27)" class="button5 isNotActive"></button>
</span>

<!-- </div> -->