.button1 {
  //   position: absolute;
  right: 30px;
  top: -65px;
  width: 12px;
  height: 12px;
}
.button2 {
  //   position: absolute;
  right: 230px;
  top: -60px;
  width: 12px;
  height: 12px;
}

.button3 {
  //   position: absolute;
  right: 56px;
  top: -7px;
  width: 12px;
  height: 12px;
}
.button4 {
  //   position: absolute;
  right: 256px;
  top: 22px;
  width: 12px;
  height: 12px;
}

.button5 {
  //   position: absolute;
  right: 80px;
  top: 82px;
  width: 12px;
  height: 12px;
}
.image {
  //   position: sticky;
  //   left: 620px;
  height: 250px;
  //   justify-content: center;
}

.isActive {
  background-color: rgb(7, 241, 7);
}

.isNotActive {
  background-color: rgb(247, 19, 19);
}