<div class="container">
    <!-- <img class="image" src="../../../assets/images/Concucteur.jpg">
    <button mat-mini-fab color="warn" class="button1"></button><br>
    <button mat-mini-fab color="warn" class="button2"></button><br>
    <button mat-mini-fab color="warn" class="button3"></button><br>
    <button mat-mini-fab color="warn" class="button4"></button>
    <button mat-mini-fab color="warn" class="button5"></button> -->
    <!-- <h4>My Button</h4> -->
    <img class="image" src="../../../assets/images/Concucteur.jpg">
    <div class="centered">
        <table class="table table-striped">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
        </table>
    </div>
</div>