.button1 {
    position: absolute;
    left: 635px;
    top: 60px;
    width: 10px;
    height: 10px;
}
.button2 {  
    position: absolute;
    left: 635px;
    top: 158px;
    width: 10px;
    height: 10px;
}
.button3 { 
    position: absolute;
    left: 860px;
    top: 51px;
    width: 10px;
    height: 10px;
}
.button4 {          
    position: absolute;
    left: 859px;
    top: 124px;
    width: 10px;
    height: 10px;
}    
.button5 {
    position: absolute;
    left: 859px;
    top: 230px;
    width: 10px;
    height: 10px;
}
.image {
        position: absolute;
        left: 620px;
        height: 300px;
        justify-content: center;
}
    
    
    