<div class="form-row justify-content-center">
    <h6>Conducteur السائق</h6>
    <span>
        <img class="image" [src]="conducteurImg">
        <button mat-mini-fab class="button1 isNotActive" id="b1" (click)="test(1)"></button>
        <button mat-mini-fab class="button2 isNotActive" id="b2" (click)="test(2)"></button>
        <button mat-mini-fab class="button3 isNotActive" id="b3" (click)="test(3)"></button>
        <button mat-mini-fab class="button4 isNotActive" id="b4" (click)="test(4)"></button>
        <button mat-mini-fab class="button5 isNotActive" id="b5" (click)="test(5)"></button>
    </span>
</div>
