<!-- <div class="container">
<button mat-mini-fab color="warn"></button><br>
<button mat-mini-fab color="warn"></button><br>
<button mat-mini-fab color="warn"></button><br>
<button mat-mini-fab color="warn"></button>
<img src="../../../assets/images/Concucteur.jpg" style="height: 500px;margin-top: 0%;">
</div> -->
<body>
  <div style="float: right;">
    <img class="image" src="../../../assets/images/Concucteur.jpg" >
    <button mat-mini-fab color="warn" class = "button1"></button>
    <button mat-mini-fab color="warn" class = "button2"></button>
    <button mat-mini-fab color="warn" class = "button3"></button>
    <button mat-mini-fab color="warn" class = "button4"></button>
    <button mat-mini-fab color="warn" class = "button5"></button>
  </div>
</body>
