<div class="container">
  <h2 class="mb-2">Modifer l'engin: {{this.data.id}}</h2>
  <form [formGroup]="editEnginForm" (ngSubmit)="onEditSubmit(editEnginForm)">
      <div class="d-flex form-row justify-content-center">
          <mat-form-field class="w-75">
              <input  matInput placeholder="Veuillez saisir le nom d'engin" formControlName="nomEngin"
                  name="nomEngin" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let engin of (filteredEngin | async)" [value]="engin.nomEngin" (click)="getEngin(engin)">
                      {{engin.nomEngin}}
                    </mat-option>
                  </mat-autocomplete>
          </mat-form-field>
      </div>
      <div class="d-flex form-row justify-content-center">
          <mat-form-field class="w-75">
              <input type="text" matInput placeholder="Veuillez saisir le matricule" formControlName="matricule" name="matricule">
          </mat-form-field>
      </div>
      <div>
          <input type="file" id="file" name="file" class="inputfile" #file (change)="upload($event);" />
          <label for="file"> <i class="fas fa-upload"></i> Choisir un fichier</label>
          <span class="ml-2 h6" *ngIf="fileData">{{fileData.name}}</span>
      </div>
      <!-- <div class="d-flex form-row justify-content-start">
          <mat-checkbox class="ml-2 mt-2" formControlName="show" name="show">Afficher la règle</mat-checkbox>
      </div> -->

      <div class="d-flex form-row justify-content-end">
          <button mat-raised-button>Valider</button>
      </div>
  </form>
  <div style="float: left;">
  <button class="mr-2" mat-raised-button (click)="close()">Annuler</button>
</div>
</div>