.image2 {
  height: 350px;
  width: 760px;
}
.button1 {
  //   position: absolute;
  right: 139px;
  top: 58px;
  width: 18px;
  height: 18px;
}
.button2 {
  //   position: absolute;
  right: 131px;
  top: 106px;
  width: 18px;
  height: 18px;
}

.button3 {
  //   position: absolute;
  right: 167px;
  top: 164px;
  width: 18px;
  height: 18px;
}
.button4 {
  //   position: absolute;
  right: 577px;
  top: 175px;
  width: 18px;
  height: 18px;
}

.button5 {
  //   position: absolute;
  right: 615px;
  top: 90px;
  width: 18px;
  height: 18px;
}

.isActive {
  background-color: rgb(7, 241, 7);
}

.isNotActive {
  background-color: rgb(247, 19, 19);
}

.farge {
  height: 185px;
  width: 100%;
  opacity: 0.7;
}

ion-content {
  --ion-background-color: #eee;
}


