<ion-header>
  <ion-toolbar>
    <ion-title>check-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div *ngFor="let item of engins" style="display: inline" >
    <a (click)="onClick(item.imageEngin);"><img  [src]="createImagePath(item.imageEngin)" class="img-thumbnail mr-2"
        height="40%" width="20%" style="border: 1px black solid"/></a>
  </div> -->


  <ion-grid>
    <ion-row class="row justify-content-center">
      <ion-col *ngFor="let item of engins" size="5" class="">
        <a button (click)="onClick(item.imageEngin)"><img [src]="createImagePath(item.imageEngin)" class="img-thumbnail" /></a>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>