<ion-header>
  <ion-toolbar>
    <ion-title>tracteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div *ngFor="let question of questions" class="form-row">
        <app-home [question]="question" [form]="form"></app-home>
      </div>

      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>

    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div> -->
</ion-content>