<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conducteur</ion-title>
    <!-- <ion-thumbnail slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail> -->
  </ion-toolbar>

</ion-header>
<!-- <div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Conducteur</ion-title>
    </ion-toolbar>
  </ion-header>
</div> -->
<ion-content padding="true">
  <h2>Listes des conducteurs</h2>
  <!--La liste des conducteurs-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-2" style="margin: auto; width: 90%">
    <!-- Position Column -->
    <ng-container matColumnDef="nomcomplet">
      <th mat-header-cell *matHeaderCellDef> Nom Conducteur </th>
      <td mat-cell *matCellDef="let element"> {{element.nomComplet}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cin">
      <th mat-header-cell *matHeaderCellDef> CIN </th>
      <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cnss">
      <th mat-header-cell *matHeaderCellDef> CNSS </th>
      <td mat-cell *matCellDef="let element"> {{element.cnss}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="assurance">
      <th mat-header-cell *matHeaderCellDef> Assurance </th>
      <td mat-cell *matCellDef="let element"> {{element.assurance}} </td>
    </ng-container>

    <ng-container matColumnDef="dateValiditeAssurance">
      <th mat-header-cell *matHeaderCellDef> Date validité assurance </th>
      <td mat-cell *matCellDef="let element"> {{element.dateValiditeAssurance | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let element"> {{element.patente}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <button class="form-row justify-content-center" mat-icon-button (click)="onEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <!-- <button mat-icon-button color="warn" (click)="onDelete(row.$key)">
            <mat-icon>delete_outline</mat-icon>
          </button> -->
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</ion-content>