$body-color: rgba(38, 46, 54, 0.795);
$body-text-size: 1.6rem;
$break-color: rgb(200, 200, 200);
$page-color: snow;
$shadow-color: rgba(0, 0, 0, .15);
$outline-color: rgba(0, 0, 0, .1);
$text-color: lighten(black, 30%);



.redButton {
  background-color: red;
  width: 15px !important;
  height: 20px !important;
}

.greenButton {
  background-color: green;
  width: 15px !important;
  height: 20px !important;
}

.borderBox {
    -webkit-box-shadow: -1px 15px 31px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 15px 31px 6px rgba(0,0,0,0.75);
    box-shadow: -1px 15px 31px 6px rgba(0,0,0,0.75);
}

.checked {
  color: green;
  // font-size: 5%;
}

.notChecked {
  color: red;
  // font-size: 5%;
}

.background-button {
  background-color: white;
}


.section-break-5 {
  background-color: transparent;
  border: 0;
  border-top: 2px solid $break-color;
  display: block;
  height: 0;
  margin: 1rem auto 1rem;
  text-align: center;
  width: 50%;

  &:before {
    background-color: $page-color;
    color: darken($break-color, 20%);
    display: inline-block;
    font-size: $body-text-size;
    left: 50%;
    letter-spacing: 0;
    line-height: $body-text-size;
    text-indent: 0;
    text-rendering: geometricPrecision;
    transform: translateY(-65%);
    width: 15px;
  }
}

@media print {
  #printDoc, #printImg, #printAgent, #printAdmin {
    display: none;
  }
}