<ion-content>

  <div *ngIf="str == 'agent'" id="printAgent">
    <button mat-button style="font-size: 16px; font-weight: 400;padding: 1%;" (click)='NavigatToEngins()'>
      <i style="font-size: 25px;padding: 5%;color: rgb(0,110,130) ;" class="fa fa-arrow-circle-left"
        aria-hidden="true"></i>
    </button>
  </div>

  <div *ngIf="str != 'agent'" id="printAdmin">
    <button mat-button style="font-size: 16px; font-weight: 400;padding: 1%;" (click)='NavigatToSynthese()'>
      <i style="font-size: 25px;padding: 5%;color: rgb(0,110,130) ;" class="fa fa-arrow-circle-left"
        aria-hidden="true"></i>
    </button>
  </div>

  <div style="padding: 0%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  ">
    <!--
    <div class="mb-3">
      <ion-grid>
        <ion-row>
          <ion-col><span style="font-weight: bold;">Date:</span> {{checkListValues?.date | date: 'dd/MM/yyyy'}}</ion-col>
          <ion-col>Conducteur: {{checkListValues?.conducteur.nomComplet }}</ion-col>
          <ion-col>Vehicule: {{checkListValues?.vehicule.engin }}</ion-col>
        </ion-row>

        <ion-row>
          <!-- <ion-col>ID: {{checkListValues?.id }}</ion-col> 
          <ion-col></ion-col>
          <ion-col>CIN: {{checkListValues?.conducteur.cin }}</ion-col>
          <ion-col>Matricule: {{checkListValues?.vehicule.matricule }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>-->

    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div id="printImg" class="card-icon" style="background: rgb(0,110,130);float:right">
          <i class="material-icons">content_copy</i>
        </div>

        <h5 class="card-title" style="float:left;width: 80%;">
          <div class="container" style="width: 100%;">
            <div class="row">
              <div class="col-sm 3"><span style="font-weight: bold;">Date: </span>
                {{checkListValues?.date | date: 'dd/MM/yyyy'}}</div>
              <div class="col-sm 3"> <span style="font-weight: bold;">Conducteur: </span>
                {{checkListValues?.conducteur.nomComplet }}</div>
              <div class="col-sm 3"><span style="font-weight: bold;">Vehicule : </span>
                {{checkListValues?.vehicule.engin }}</div>


            </div>
            <br>
            <div class="row">
              <div class="col" style="margin-right: -30%;"><span style="font-weight: bold;">CIN : </span>
                {{checkListValues?.conducteur.cin }}</div>
              <div class="col"><span style="font-weight: bold;">Matricule : </span>
                {{checkListValues?.vehicule.matricule }}</div>
            </div>
          </div>
        </h5>
      </div>
      <div class="card-footer">
        <div class="stats">

        </div>
      </div>
    </div>
    <br>
    <div class="borderBox" style="background-color: white;">

      <button mat-raised-button id="printDoc" class="btn btn-info" printSectionId="print-section" (click)="print()"
        style="margin-right: 1%;position: relative; background:rgb(0,110,130);transform: translateX(-50%); float: left; margin-left: 8%;margin-top: 2.5%;">Imprimer
        <i class="fa fa-print" style="font-size:25px"></i></button>

      <div id="print-section">
        <mat-list *ngFor="let question of questions" [dir]="dir">
          <h2 class="form-row justify-content-start mr-2" style="padding: 2%;">
            {{question.key}} :
          </h2>
          <div class="container">
            <div class="row">
              <div class="col-sm">


                <mat-list-item *ngFor="let option of question['options'] |  slice:0:2" style="padding-right: 5%;">
                  <span *ngIf="option.value == true ">
                    <i class="fa fa-check ml-2" aria-hidden="true" style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                    <span>{{option.key}}</span>
                  </span>
                  <span *ngIf="option.value == false ">
                    <i class="fa fa-times ml-2" aria-hidden="true" style="font-size: 25px;color:red"></i>
                    <span>{{option.key}}</span>
                  </span>
                </mat-list-item>

                <mat-list-item *ngFor="let option of question['options'] |  slice:6:8" style="padding-right: 5%;">
                  <span *ngIf="option.value == true ">
                    <i class="fa fa-check ml-2" aria-hidden="true" style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                    <span>{{option.key}}</span>
                  </span>
                  <span *ngIf="option.value == false ">
                    <i class="fa fa-times ml-2" aria-hidden="true" style="font-size: 25px;color:red"></i>
                    <span>{{option.key}}</span>
                  </span>
                </mat-list-item>


              </div>
              <div class="col-sm">

                <mat-list-item *ngFor="let option of question['options'] |  slice:2:4" style="padding-right: 5%;">
                  <span *ngIf="option.value == true ">
                    <i class="fa fa-check ml-2" aria-hidden="true" style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                    <span>{{option.key}}</span>
                  </span>
                  <span *ngIf="option.value == false ">
                    <i class="fa fa-times ml-2" aria-hidden="true" style="font-size: 25px;color:red"></i>
                    <span>{{option.key}}</span>
                  </span>
                </mat-list-item>

                <mat-list-item *ngFor="let option of question['options'] |  slice:8:10" style="padding-right: 5%;">
                  <span *ngIf="option.value == true ">
                    <i class="fa fa-check ml-2" aria-hidden="true" style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                    <span>{{option.key}}</span>
                  </span>
                  <span *ngIf="option.value == false ">
                    <i class="fa fa-times ml-2" aria-hidden="true" style="font-size: 25px;color:red"></i>
                    <span>{{option.key}}</span>
                  </span>
                </mat-list-item>

              </div>
              <div class="col-sm">
                <mat-list-item *ngFor="let option of question['options'] |  slice:4:6" style="padding-right: 5%;">
                  <span *ngIf="option.value == true ">
                    <i class="fa fa-check ml-2" aria-hidden="true" style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                    <span>{{option.key}}</span>
                  </span>
                  <span *ngIf="option.value == false ">
                    <i class="fa fa-times ml-2" aria-hidden="true" style="font-size: 25px;color:red"></i>
                    <span>{{option.key}}</span>
                  </span>
                </mat-list-item>

                <mat-list-item *ngFor="let option of question['options'] |  slice:10:12" style="padding-right: 5%;">
                  <span *ngIf="option.value == true ">
                    <i class="fa fa-check ml-2" aria-hidden="true" style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                    <span>{{option.key}}</span>
                  </span>
                  <span *ngIf="option.value == false ">
                    <i class="fa fa-times ml-2" aria-hidden="true" style="font-size: 25px;color:red"></i>
                    <span>{{option.key}}</span>
                  </span>
                </mat-list-item>
              </div>
            </div>
          </div>
          <hr class="section-break-5" />
        </mat-list>
      </div>
    </div>


  </div>
</ion-content>