.button1 {
  // position: absolute;
  // left: 660px;
  top: 145px;
  right: 62px;
  width: 18px;
  height: 18px;
}
.button2 {
  // position: absolute;
  // left: 743px;
  right: 185px;
  top: 145px;
  width: 18px;
  height: 18px;
}

.button3 {
  // position: absolute;
  // left: 834px;
  right: 325px;
  top: 145px;
  width: 18px;
  height: 18px;
}
.button4 {
  // position: absolute;
  // left: 935px;
  right: 452px;
  top: 145px;
  width: 18px;
  height: 18px;
}

.button5 {
  // position: absolute;
  // left: 1022px;
  right: 570px;
  top: 145px;
  width: 18px;
  height: 18px;
}
.image {
  // position: absolute;
  // left: 620px;
  height: 200px;
  // justify-content: end;
}

.isActive {
  background-color: rgb(7, 241, 7);
}

.isNotActive {
  background-color: rgb(247, 19, 19);
}

@media only screen and (width: 1280px) {
  .button1 {
    
    right: 7.5%;
    top: 158px;
    width: 22px;
    height: 22px;
  }
  .button2 {
    right: 22%;
    top: 158px;
    width: 22px;
    height: 22px;
  }
  
  .button3 {
    right: 38.8%;
    top: 158px;
    width: 22px;
    height: 22px;
  }
  .button4 {
    right: 53.8%;
    top: 158px;
    width: 22px;
    height: 22px;
  }
  
  .button5 {
    right: 67.9%;
    top: 158px;
    width: 22px;
    height: 22px;
  }
}
