<span style="float: right;margin-left: 394px;margin-top: 50px;">
  <h6 class="row justify-content-center">Equipement المعدات المرفقة</h6>
  <img class="image" [src]="equipementImg">
  <button mat-mini-fab id="b6" (click)="check(6)" class="button1 isNotActive"></button>
  <button mat-mini-fab id="b7" (click)="check(7)" class="button2 isNotActive"></button>
  <button mat-mini-fab id="b8" (click)="check(8)" class="button3 isNotActive"></button>
  <button mat-mini-fab id="b9" (click)="check(9)" class="button4 isNotActive"></button>
  <button mat-mini-fab id="b10" (click)="check(10)" class="button5 isNotActive"></button>
</span>