.button1 {
  // position: absolute;
  // left: 660px;
  top: 42px;
  right: 32px;
  width: 15px;
  height: 15px;
}
.button2 {
  // position: absolute;
  // left: 743px;
  right: 90px;
  top: 42px;
  width: 15px;
  height: 15px;
}

.button3 {
  // position: absolute;
  // left: 834px;
  right: 160px;
  top: 42px;
  width: 15px;
  height: 15px;
}
.button4 {
  // position: absolute;
  // left: 935px;
  right: 229px;
  top: 42px;
  width: 15px;
  height: 15px;
}

.button5 {
  // position: absolute;
  // left: 1022px;
  right: 288px;
  top: 42px;
  width: 15px;
  height: 15px;
}
.image {
  // position: absolute;
  // left: 620px;
  height: 80px;
  // justify-content: end;
}

.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
