
    <span style="float: right;margin-left: 394px;margin-top: 50px;" >
        <h4 class="row justify-content-center">المعدات المرفقة</h4>
      <img class="image" src="../../../assets/images/equipement.jpg" >
       <button mat-mini-fab color="warn" class = "button1"></button>
      <button mat-mini-fab color="warn" class = "button2"></button>
      <button mat-mini-fab color="warn" class = "button3"></button>
      <button mat-mini-fab color="warn" class = "button4"></button>
      <button mat-mini-fab color="warn" class = "button5"></button>
    </span>

