.button1 {
		
    position: absolute;
    left: 660px;
    top: 121px;
    width: 15px;
    height: 15px;
    
    }
     .button2 {
          
    position: absolute;
    left: 743px;
    top: 121px;
    width: 15px;
    height: 15px;
    
    }
    
     .button3 {
          
    position: absolute;
    left: 834px;
    top: 121px;
    width: 15px;
    height: 15px;
    }
      .button4 {
          
    position: absolute;
    left: 935px;
    top: 121px;
    width: 15px;
    height: 15px;
    }
    
       .button5 {
          
    position: absolute;
    left: 1022px;
    top: 121px;
    width: 15px;
    height: 15px;
    }
    .image {
        position: absolute;
        left: 620px;
        height: 150px;
        justify-content: end;
    }
    
    
    