<div class="row justify-content-center">
  <form [formGroup]="formConducteur" class="example-form" (ngSubmit)="onSubmit(formConducteur.value)">
    <mat-form-field style="text-align: left" dir="ltr" class="mr-2">
      <input type="text" matInput formControlName="cin" placeholder="C.I.N" [matAutocomplete]="cin" />
    </mat-form-field>

    <mat-autocomplete #cin="matAutocomplete" (optionSelected)="getConducteur($event)">
      <mat-option *ngFor="let conducteur of (filteredConducteurs | async)" [value]="conducteur.cin">
        {{conducteur.cin}}</mat-option>
    </mat-autocomplete>

    <mat-form-field style="text-align: left" dir="ltr" class="mr-2">
      <input type="text" matInput formControlName="nomComplet" placeholder="Nom Complet"
        [value]="formConducteur.controls['cin'].value !== '' ? nomComplet.value : ''" />
    </mat-form-field>

    <mat-form-field style="text-align: left" dir="ltr" class="mr-2">
      <input type="text" matInput formControlName="matricule" placeholder="Matricule" [matAutocomplete]="matricule" />
    </mat-form-field>

    <mat-autocomplete #matricule="matAutocomplete">
      <mat-option *ngFor="let vehicule of (filteredVehicules | async)" [value]="vehicule.matricule">
        {{vehicule.matricule}}</mat-option>
    </mat-autocomplete>
    <button mat-raised-button type="submit">Envoyer</button>
  </form>
</div>
<app-check-list-engin></app-check-list-engin>
<app-check-list-conducteur></app-check-list-conducteur>
<app-check-list-equipement></app-check-list-equipement>
<span style="float: left;">
  <img class="image2" src="../../../../assets/images/plateau.jpg">
  <button mat-mini-fab color="warn" class="button1"></button>
  <button mat-mini-fab color="warn" class="button2"></button>
  <button mat-mini-fab color="warn" class="button3"></button>
  <button mat-mini-fab color="warn" class="button4"></button>
</span>