.image2 {
  //margin-top: -150px;
  height: 300px;
  width: 700px;
}
.button1 {
  //   position: absolute;
  right: 83px;
  top:157px;
  width: 18px;
  height: 18px;
}
.button2 {
  //   position: absolute;
  right: 338px;
  top: 184px;
  width: 18px;
  height: 18px;
}

.button3 {
  //   position: absolute;
  right: 468px;
  top: 184px;
  width: 18px;
  height: 18px;
}
.button4 {
  //   position: absolute;
  right: 588px;
  top: 157px;
  width: 18px;
  height: 18px;
}

.isActive {
  background-color: rgb(7, 241, 7);
}

.isNotActive {
  background-color: rgb(247, 19, 19);
}

.farge{
  height: 185px;
  width: 100%;
  opacity: 0.7;

}

@media only screen and (width: 1280px) { 

  .button1 {
    right: 10%;
    top: 162px;
    width: 25px;
    height: 25px;
  }
  .button2 {
    //   position: absolute;
    right: 41%;
    top: 191px;
    width: 25px;
    height: 25px;
  }
  
  .button3 {
    //   position: absolute;
    right: 57%;
    top: 191px;
    width: 25px;
    height: 25px;
  }
  .button4 {
    //   position: absolute;
    right: 72%;
    top: 163px;
    width: 25px;
    height: 25px;
  }
}

ion-content {
  --ion-background-color: #eee;
}




