.image2 {
  margin-top: -150px;
  height: 220px;
}
.button1 {
  //   position: absolute;
  right: 63px;
  top: -43px;
  width: 12px;
  height: 12px;
}
.button2 {
  //   position: absolute;
  right: 260px;
  top: -20px;
  width: 12px;
  height: 12px;
}

.button3 {
  //   position: absolute;
  right: 362px;
  top: -20px;
  width: 12px;
  height: 12px;
}
.button4 {
  //   position: absolute;
  right: 454px;
  top: -38px;
  width: 12px;
  height: 12px;
}

.isActive {
  background-color: green;
}

.isNotActive {
  background-color: red;
}
