<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historiques des camions suspendus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="row justify-content-center mt-2">
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker1" placeholder="Du" name="dateEntree" [formControl]="dateEntree"
            (ngModelChange)="onChange(dateEntree, 'dateEntree')">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="ml-2">
          <input matInput [matDatepicker]="picker2" placeholder="Au" name="dateSortie" [formControl]="dateSortie"
            (ngModelChange)="onChange(dateSortie, 'dateSortie')">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button class="ml-2" (click)="filtrer()" mat-button>
          <fa-icon [icon]="faFilter"></fa-icon>
        </button>
        <button class="ml-2 btn btn-link" (click)="refresh()" mat-button>
          <fa-icon [icon]="faSyncAlt"></fa-icon>
        </button>
        <button class="ml-2" (click)="exporter()" mat-raised-button>Exporter</button>
      </div>
  <mat-form-field class="w-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>
  <!--La liste des camions-->
<!--
  <div class="mat-elevation-z8 mt-2">


    <table mat-table [dataSource]="dataSource" style="margin: auto; width: 90%">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="vehicule">
        <th mat-header-cell *matHeaderCellDef> vehicule </th>
        <td mat-cell *matCellDef="let element"> {{element.idVehiculeNavigation?.matricule}} </td>
      </ng-container>

   
      <ng-container matColumnDef="dateBlockage">
        <th mat-header-cell *matHeaderCellDef> date de blockage </th>
        <td mat-cell *matCellDef="let element"> {{element.dateBlockage | date: 'dd/MM/yyyy-HH:MM'}} </td>
      </ng-container>


      <ng-container matColumnDef="motif">
        <th mat-header-cell *matHeaderCellDef> Motif </th>
        <td mat-cell *matCellDef="let element"> {{element.motif}} </td>
      </ng-container>

     
      <ng-container matColumnDef="dateDeblockage">
        <th mat-header-cell *matHeaderCellDef> date de deblockage </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDeblockage | date: 'dd/MM/yyyy-HH:MM'}} </td>
      </ng-container>

      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</ion-content>




-->


<ion-content>

  <div class="mdl-toolbar">
    <div class="logo">
      <ion-title class="ion-padding">
        Synthese des contrôles
      </ion-title>
    </div>
  </div>


  <div style="padding-left: 5%; padding-right: 5%; padding-top: 3%;">
    <div class="row justify-content-center mt-2">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker1" placeholder="Du" name="dateEntree" [formControl]="dateEntree"
          (ngModelChange)="onChange(dateEntree, 'dateEntree')">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="ml-2">
        <input matInput [matDatepicker]="picker2" placeholder="Au" name="dateSortie" [formControl]="dateSortie"
          (ngModelChange)="onChange(dateSortie, 'dateSortie')">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button class="ml-2" (click)="filtrer()" mat-button>
        <fa-icon [icon]="faFilter"></fa-icon>
      </button>
      <button class="ml-2 btn btn-link" (click)="refresh()" mat-button>
        <fa-icon [icon]="faSyncAlt"></fa-icon>
      </button>

      <mat-form-field class="w-40">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
      </mat-form-field>
    </div>

    <!--Tableau Benne-->

    <div class="mat-elevation-z8 mt-3">
      <div class="card">
        <div class="card-header card-header-primary" style="background:rgb(0,110,130); ">
          <div class="row">
            <div class="col-md-10">
              <h4 class="card-title">Synthese des contrôles</h4>
            </div>
            <div class="col-md-2 float-right">
              <button class="btn btn-info" (click)="exporter()"
                style="border: 1px solid rgb(255, 255, 255);background-color:rgb(0,110,130)">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </div> 
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="table table-hover ">

              <!-- Position Column -->
              <ng-container matColumnDef="controlleur">
                <th mat-header-cell *matHeaderCellDef> Controlleur </th>
                <td mat-cell *matCellDef="let element"> {{element.controlleur?.nomComplet ? element.controlleur?.nomComplet : 'Anonyme'}} </td>
              </ng-container>

              <ng-container matColumnDef="site">
                <th mat-header-cell *matHeaderCellDef> Site </th>
                <td mat-cell *matCellDef="let element"> {{element.site}} </td>
              </ng-container>

              <ng-container matColumnDef="matricule">
                <th mat-header-cell *matHeaderCellDef> Matricule </th>
                <td mat-cell *matCellDef="let element"> {{element.vehicule.matricule}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type Camion </th>
                <td mat-cell *matCellDef="let element"> {{element.vehicule.engin}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="conducteur">
                <th mat-header-cell *matHeaderCellDef> Conducteur </th>
                <td mat-cell *matCellDef="let element"> {{element.conducteur}} </td>
              </ng-container>

             

              <!-- Symbol Column -->
              <ng-container matColumnDef="motif">
                <th mat-header-cell *matHeaderCellDef> Motif </th>
                <td mat-cell *matCellDef="let element"> {{element.motif}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date de control </th>
                <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element">
                    <img class="zoom" *ngIf="element.imageURL != null && element.imageURL != ''" [src]="createImagePath(element.imageURL)" />
                    <img class="zoom" *ngIf="element.imageURL == null || element.imageURL == ''" [src]="noImage" />
                </td>
              </ng-container>

              <ng-container matColumnDef="control1">
                <th mat-header-cell *matHeaderCellDef> Casque sec </th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkConducteur[0] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkConducteur[0] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control2">
                <th mat-header-cell *matHeaderCellDef>Lunette de protection </th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkConducteur[1] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkConducteur[1] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control3">
                <th mat-header-cell *matHeaderCellDef>Gants de protection</th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkConducteur[2] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkConducteur[2] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control4">
                <th mat-header-cell *matHeaderCellDef> Gilet fluorescent</th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkConducteur[3] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkConducteur[3] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control5">
                <th mat-header-cell *matHeaderCellDef>Chaussures Sec</th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkConducteur[4] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkConducteur[4] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control6">
                <th mat-header-cell *matHeaderCellDef>Tableau de bord </th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkEngin[0] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkEngin[0] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control7">
                <th mat-header-cell *matHeaderCellDef>Ceinture Sec</th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkEngin[1] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkEngin[1] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>
              <ng-container matColumnDef="control8">
                <th mat-header-cell *matHeaderCellDef> Retriviseur </th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkEngin[2] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkEngin[2] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>
              <ng-container matColumnDef="control9">
                <th mat-header-cell *matHeaderCellDef> GPS </th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkEngin[3] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkEngin[3] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>

              <ng-container matColumnDef="control10">
                <th mat-header-cell *matHeaderCellDef> Roues</th>
                <td mat-cell *matCellDef="let element">
                  <i *ngIf="element.checkEngin[4] == true" class="fa fa-check" aria-hidden="true"
                    style="font-size: 25px;color:rgb(7, 202, 7)"></i>
                  <i *ngIf="element.checkEngin[4] == false" class="fa fa-times" aria-hidden="true"
                    style="font-size: 25px;color:red"></i>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumnsBenne"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsBenne;"></tr>
            </table>
          </div>
        </div>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>










  <!-- <div class="mat-elevation-z8 mt-3">
      <div class="card">
        <div class="card-header card-header-primary" style="background:rgb(0,110,130); ">
          <div class="row">
            <div class="col-md-10">
              <h4 class="card-title">Citerne : </h4>
            </div>
            <div class="col-md-2 float-right">
              <button class="btn btn-info" (click)="exporter()"
                style="border: 1px solid rgb(255, 255, 255);background-color:rgb(0,110,130)">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSourceCiterne" matSort class="table  table-hover ">

              <!-- Position Column 
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="vehicule">
                <th mat-header-cell *matHeaderCellDef> vehicule </th>
                <td mat-cell *matCellDef="let element"> {{element.idVehiculeNavigation?.matricule}} </td>
              </ng-container>

              <!-- Name Column 
              <ng-container matColumnDef="dateBlockage">
                <th mat-header-cell *matHeaderCellDef> date de blockage </th>
                <td mat-cell *matCellDef="let element"> {{element.dateBlockage | date: 'dd/MM/yyyy-HH:MM'}} </td>
              </ng-container>

              <!-- Weight Column
              <ng-container matColumnDef="motif">
                <th mat-header-cell *matHeaderCellDef> Motif </th>
                <td mat-cell *matCellDef="let element"> {{element.motif}} </td>
              </ng-container>

              <!-- Symbol Column 
              <ng-container matColumnDef="dateDeblockage">
                <th mat-header-cell *matHeaderCellDef> date de deblockage </th>
                <td mat-cell *matCellDef="let element"> {{element.dateDeblockage | date: 'dd/MM/yyyy-HH:MM'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div> -->

  <!-- <div class="mat-elevation-z8 mt-3">
      <div class="card">
        <div class="card-header card-header-primary" style="background:rgb(0,110,130); ">
          <div class="row">
            <div class="col-md-10">
              <h4 class="card-title">Plateau : </h4>
            </div>
            <div class="col-md-2 float-right">
              <button class="btn btn-info" (click)="exporter()"
                style="border: 1px solid rgb(255, 255, 255);background-color:rgb(0,110,130)">
                <i class="fa fa-download" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSourcePlateau" matSort class="table  table-hover ">

              <!-- Position Column 
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="vehicule">
                <th mat-header-cell *matHeaderCellDef> vehicule </th>
                <td mat-cell *matCellDef="let element"> {{element.idVehiculeNavigation?.matricule}} </td>
              </ng-container>

              <!-- Name Column 
              <ng-container matColumnDef="dateBlockage">
                <th mat-header-cell *matHeaderCellDef> date de blockage </th>
                <td mat-cell *matCellDef="let element"> {{element.dateBlockage | date: 'dd/MM/yyyy-HH:MM'}} </td>
              </ng-container>

              <!-- Weight Column 
              <ng-container matColumnDef="motif">
                <th mat-header-cell *matHeaderCellDef> Motif </th>
                <td mat-cell *matCellDef="let element"> {{element.motif}} </td>
              </ng-container>

              <!-- Symbol Column 
              <ng-container matColumnDef="dateDeblockage">
                <th mat-header-cell *matHeaderCellDef> date de deblockage </th>
                <td mat-cell *matCellDef="let element"> {{element.dateDeblockage | date: 'dd/MM/yyyy-HH:MM'}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div> -->
</ion-content>