.button1 {
  //   position: absolute;
  right: 48px;
  top: -113px;
  width: 18px;
  height: 18px;
}
.button2 {
  //   position: absolute;
  right: 359px;
  top: -102px;
  width: 18px;
  height: 18px;
}

.button3 {
  //   position: absolute;
  right: 84px;
  top: -19px;
  width: 18px;
  height: 18px;
}
.button4 {
  //   position: absolute;
  right: 395px;
  top: 26px;
  width: 18px;
  height: 18px;

}

.button5 {
  //   position: absolute;
  right: 119px;
  top: 121px;
  width: 18px;
  height: 18px;

}
.image {
  //   position: sticky;
  //   left: 620px;
  height: 390px;
  margin-left: 94px;

  //   justify-content: center;
}

.isActive {
  background-color: rgb(7, 241, 7);
}

.isNotActive {
  background-color: rgb(247, 19, 19);
}