<ion-header>
  <ion-toolbar>
    <ion-title>Conducteur</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <div class="ion-page" main>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Conducteur</ion-title>
    </ion-toolbar>
  </ion-header>
</div> -->
<ion-content>
  <div class="ion-padding">
    <form [formGroup]="conducteurForm" (ngSubmit)="Addconducteur(conducteurForm.value)">
      <div class="example-container">
        <mat-form-field class="col-md-4">
          <input matInput placeholder="NomConducteur" formControlName="nomcomplet">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput placeholder="CIN" formControlName="cin">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput placeholder="CNSS" formControlName="cnss">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput placeholder="Assurance" formControlName="assurance">
        </mat-form-field>
        <mat-form-field>
          <input type="date" matInput placeholder="Date validité assurance" formControlName="dateValiditeAssurance">
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <input matInput placeholder="Patente" formControlName="patente">
        </mat-form-field>
        <mat-form-field class="col-md-1  col-sm-4 ">
          <input matInput placeholder="Societe" formControlName="societe">
        </mat-form-field>
        <ion-button type="submit">Ajouter</ion-button>
      </div>
    </form>
  </div>
  <!--La liste des conducteurs-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 " style="width: 100%">
    <!-- Position Column -->
    <ng-container matColumnDef="nomcomplet">
      <th mat-header-cell *matHeaderCellDef> NomConducteur </th>
      <td mat-cell *matCellDef="let element"> {{element.nomcomplet}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cin">
      <th mat-header-cell *matHeaderCellDef> CIN </th>
      <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cnss">
      <th mat-header-cell *matHeaderCellDef> CNSS </th>
      <td mat-cell *matCellDef="let element"> {{element.cnss}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="assurance">
      <th mat-header-cell *matHeaderCellDef> Assurance </th>
      <td mat-cell *matCellDef="let element"> {{element.assurance}} </td>
    </ng-container>

    <ng-container matColumnDef="dateValiditeAssurance">
      <th mat-header-cell *matHeaderCellDef> Date validité assurance </th>
      <td mat-cell *matCellDef="let element"> {{element.dateValiditeAssurance | date: 'dd-MM-yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="patente">
      <th mat-header-cell *matHeaderCellDef> Patente </th>
      <td mat-cell *matCellDef="let element"> {{element.patente}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ion-content>