<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form">

    <span class="form-row justify-content-center">
      <!-- <img src="../../../assets/shapes.svg" class="mx-auto d-block" style="margin-top: 2%;" /> -->
      <!-- <img src="../../../assets/shapes.svg" class="mx-auto d-block" style="margin-top: 2%;"/> -->
      <!-- <app-dynamic-form-question [question]="questions[0]" [form]="form"></app-dynamic-form-question>-->

      <mat-vertical-stepper style="margin-top: 2%; margin-left: 3%;" #stepper [dir]="dir">
        <mat-step *ngFor="let question of questions; let i=index;" [stepControl]="question">
          <div [formGroup]="form">
            <ng-template matStepLabel>{{question.key}}</ng-template>
            <app-dynamic-form-question [question]="question" [form]="form">
            </app-dynamic-form-question>
            <div dir="ltr">
              <button mat-raised-button matStepperPrevious *ngIf="i == 1 || i == 2">Back</button>
              <button mat-raised-button matStepperNext *ngIf="i == 0 || i == 1"
                [ngClass]="{'ml-2': i === 0 || i === 1}">Next</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </span>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <!-- <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div> -->
</div>
<!-- [ngClass]="{'justify-content-end': i === 0, 'justify-content-center': i === 1, 'justify-content-start': i === 2}" -->